body {
    width: 50%;
    margin: auto;
}

form {
    background: cadetblue;
    border-radius: .5rem;
}

input[type=text] {
    margin: 1vh;
    box-sizing: border-box;
    /* width: 95%; */
    padding: .5rem;
    border-radius: .5rem;
    transition: width 0.4s ease-in-out;
}
.formText {
    margin: 10px;
}

input[type=text]:focus {
    background-color: lightgoldenrodyellow;
    outline: none;
    width: 98%;
}
